
.movie_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px rgb(0 0 0 / 3%);
  border-radius: 10px;
  box-sizing: border-box;
}

.movie_container p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 160px;
  -webkit-line-clamp: 5; /* 표시하고자 하는 라인 수 */
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.movie_container img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.movie_generes {
  display: flex;
  list-style: none;
  padding: 0;
}

.movie_generes li {
  margin-right: 10px;
}